.header {
    background-color: #367fa9;
    height: 50px;
}

.header .header-logo {
    width: 220px;
    float: left;
}

.header .header-logo img {
    margin-top: 8px;
    margin-left: 28px;
}

.header .header-nav {
    height: 100%;
    margin-left: 220px;
    background-color: #3c8dbc;
}

.header .header-nav .header-icon {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

.header .header-nav .header-icon:hover {
    background: #367fa9;
}

.header .header-nav .sidebar-toggle {
    float: left;
}

.header .header-nav .ant-btn {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    float: right;
}

.header .header-user {
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.header .header-user:hover {
    background: #367fa9;
}

.header .header-user img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}

.header .header-user span {
    color: #fff;
    line-height: 50px;
}

.header .header-nav .setting {
    float: right
}
